body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100vh;
    /* width: 100vw; */
    /* max-width: 100%; */
}

.north-arrow {
    height: 70px;
    width: 38.2px;
}

.legend {
    padding: 6px 6px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #555;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend i {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 8px;
    border-style:solid;
    border-width: 2px;
}